.footer {
    background-color: #006008;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    font-size: 14px;
    overflow-x: hidden;
}